.white {
    background-color: #00CCCC;
}

.white-dark {
    background-color: #00FFCC;
}

.pink {
    background-color: #FF0066;
}

.pink-dark {
    background-color: #FF0033;
}

.purple {
    background-color: #CC0099;
}

.purple-dark {
    background-color: #CC66CC;
}

.yellow {
    background-color: #CCFF00;
}

.yellow-dark {
    background-color: #CC9966;
}

.green {
    background-color: #00FF00;
}

.green-dark {
    background-color: #33FF66;
}

.blue {
    background-color: #33FFFF;
}

.blue-dark {
    background-color: #6699FF;
}